<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <a href="#">Sobre</a>
            </div>
            <div class="footer-col">
                <a href="#">Notícias</a>
            </div>
            <div class="footer-col">
                <a href="#">Pro</a>
            </div>
            <div class="footer-col">
                <a href="#">Retro</a>
            </div>
            <div class="footer-col">
                <a href="#">Ajuda</a>
            </div>
            <div class="footer-col">
                <a href="#">Contato</a>
            </div>

            <div class="footer-dev">
                <div class="social-links ">
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="https://github.com/sapucaisocket"><i class="fab fa-github"></i></a>
                    </li>
                </div>
            </div>
        </div>
        <h4 class="copy">© Ciné. Feito por uma equipe de estudantes. Informações sobre os filmes providenciadas pela oMDb.</h4>
        <li class="devBy">
            <h5>Desenvolvido por:</h5>
            <img src="images/Sapucaí_Logo.png" alt="" href="">
        </li>
    </div>
</footer>