<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Sobre</h4>
                <ul>
                    <li><a href="#">Nossos serviços</a></li>
                    <li><a href="#">Nossos políticas</a></li>
                    <li><a href="#">Seja um nosso afiliado</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ajuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Formas de pagamentos</a></li>
                    <li><a href="#">Como ser um colaborador?</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contato</h4>
                <ul>
                    <li><a href="#">Equipe de devs</a></li>
                    <li><a href="#">Equipe Juridica</a></li>
                    <li><a href="#">Equipe ADM</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Nossas redes</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="https://github.com/sapucaisocket"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin in"></i></a>
                </div>
            </div>

        </div>
        <li class="devBy">
            <h5>Desenvolvido por:</h5>
            <img src="images/Sapucaí_Logo.png" alt="" href="">
        </li>
        <h4 class="copy">© Ciné. Feito por uma equipe de estudantes. Informações sobre os filmes providenciadas pela oMDb.</h4>
    </div>
</footer>