
<div class="wrapper-header">
    <input type="checkbox" id="check">
    <nav>
        <div class="icon">
            <a href="/">Ciné</a>
        </div>
        
        <form>
            <div class="box">
            <input id="pesquisa" placeholder="Busque filmes, séries, reviews ou pessoas...">
            <button class="fa fa-search">
            </button>
            </div>
        </form>
        

        <ol id="menu">
            <ol>
                <li><a href="#">Filmes</a></li>
                <li><a href="#">Séries</a></li>
                <li><a href="#">Reviews</a></li>
            </ol>
            <li><a href="/perfil"><img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt=""></a></li>
        </ol>
        
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
</div>
