
<div class="wrapper-header">
    <input type="checkbox" id="check">
    <nav>
        <div class="icon">
            <a href="/Auth">Ciné</a>
        </div>
        
        <form>
            <div class="box">
            <input id="pesquisa" placeholder="Busque filmes, séries, reviews ou pessoas...">
            <button class="fa fa-search">
            </button>
            </div>
        </form>
        

        <ol>
            <li><a href="#">Filmes</a></li>
            <li><a href="#">Séries</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="/perfil" id="userIconPadding">
               <img src="/images/A. Fleck.jpg" alt="" id="userIcon">
            </a></li>
        </ol>
        
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
</div>
