@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body {
    line-height: 1.5;
    font-family: 'Istok Web', sans-serif;
    height: 100vh;
    justify-self: center;
    align-items: center;
    background: #0d0d0d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper-content {
    margin: 0 auto;
    width: 1000px;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: none;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: #504f4f;
    border-radius: 100vw;
    border: #0d0d0d solid 4px;
    padding: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #212121;
}

/*header*/
.wrapper-header {
    margin: 0 auto;
    width: 1000px;
}

nav {
    display: flex;
    width: 100%;
    /*background: #ce0808;*/
    background: #0d0d0d;
    position: relative;
    justify-content: space-around;
    text-align: center;
    padding: 15px 30px;
    align-items: center;
}

nav .icon {
    font-family: 'Kaisei Decol';
    font-size: 60px;
    font-weight: 400;
    padding: 15px;
    padding-bottom: 25px;
}

nav .icon a {
    color: #f2efea;
    text-decoration: none;
    padding-bottom: 5px;
}

nav .icon a:hover {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
    align-items: center;
}

nav ol li {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px 15px;
}

nav ol li a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f2efea;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

nav ol li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #557373;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

nav ol li a:not(#loginIconPadding, #userIconPadding):hover::after {
    transform: scaleX(1);
}

/*Imagem Log In*/
#loginIcon {
    width: 55px;
    border-radius: 50%;
    margin-right: 5px;
    padding: 10px;
}

#loginIcon:hover {
    transition: 0.3s;
    border: 2px solid #557373;
}

/*Imagem Usuário*/
#userIcon {
    width: 55px;
    border-radius: 50%;
    margin-right: 5px;
    padding: 1px;
}

#userIcon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.251);
    transition: 0.4s;
}

/*Barra de busca*/
nav .box {
    display: flex;
    margin: auto 0;
    height: 40px;
    line-height: 35px;
}

nav .box input {
    border: none;
    outline: none;
    background: #f2efea;
    height: 100%;
    padding: 10px;
    font-size: 15px;
    width: 300px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

nav .box button {
    color: #0d0d0d;
    font-size: 20px;
    background: #f2efea;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
}

nav .box button:hover {
    color: #f2efea;
}

nav .box button::after {
    height: 100%;
    width: 0%;
    content: '';
    background: #557373;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

nav .box button:hover::after {
    width: 100%;
}

/*Responsividade*/
nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    position: absolute;
    color: #f2efea;
    font-size: 35px;
}

input[type="checkbox"] {
    appearance: none;
    display: none;
}

@media screen and (max-width: 1250px) {
    nav {
        display: block;
        padding: 0;
    }

    nav .icon {
        display: inline-block;
        padding: 15px 30px;
    }

    nav .box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav .box input {
        width: 90%;
    }

    nav ol {
        display: flex;
        flex-direction: column;
        background: #1c1c1c;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    nav ol li {
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }

    nav ol li a {
        color: #f2efea;
        font-size: 28px;
        padding: 25px;
        display: block;
    }

    nav ol li:nth-child(1) {
        transform: translateX(-150px);
    }

    nav ol li:nth-child(2) {
        transform: translateX(-200px);
    }

    nav ol li:nth-child(3) {
        transform: translateX(-250px);
    }

    nav ol li:nth-child(4) {
        transform: translateX(-300px);
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }

    nav .bar #times {
        display: none;
    }

    #check:checked~nav .bar #times {
        display: block;
    }

    #check:checked~nav .bar #bars {
        display: none;
    }

    #check:checked~nav ol {
        visibility: visible;
        height: 465px;
    }

    #check:checked~nav ol li:nth-child(1),
    #check:checked~nav ol li:nth-child(2),
    #check:checked~nav ol li:nth-child(3),
    #check:checked~nav ol li:nth-child(4) {
        transform: translateX(0);
        opacity: 1;
    }
}

/*footer*/
.container {
    max-width: 1170px;
    background-color: #1c1c1c;
    margin: auto;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #1c1c1c;
    padding: 70px 0px;
    clear: both;
}

.footer-col {
    width: 25%;
    padding: 0px 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #557373;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* responsive */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.copy {
    color: #777
}

.devBy {
    padding-top: 20px;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    color: #f2efea;
}

.devBy img {
    height: 70px;
    width: 80px;
}

.option {
    vertical-align: middle;
}

/*Carousel*/
.section {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input {
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img {
    width: 800px;
    height: 500px;
}

.nav-m {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn {
    border: 2px solid #557373;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child) {
    margin-right: 30px;
}

.m-btn:hover {
    background-color: #557373;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div {
    border: 2px solid #557373;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked~.nav-auto .a-b1 {
    background-color: #557373;
}

#radio2:checked~.nav-auto .a-b2 {
    background-color: #557373;
}

#radio3:checked~.nav-auto .a-b3 {
    background-color: #557373;
}

#radio4:checked~.nav-auto .a-b4 {
    background-color: #557373;
}

/*lista filmes*/
.lista {
    padding: 10px;
}

.lista hr {
    color: #f2efea;

}

.lista h4 {
    color: #f2efea;
    font-size: 24px;
    padding: 5px;
}

.lista .title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lista .title a {
    color: #f2efea;
    padding: 3px;
    margin: 2px;
    border: none;
    text-decoration: none;
    font-size: 13px;
}

.lista .title a:hover {
    color: #504f4f;
    transition: 0.2s;
}

.lista .items h5 {
    color: #f2efea;
    padding: 10px;
}

.lista .items {
    display: flex;
    flex-wrap: wrap;
}

div.lista {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

div.item {
    text-align: center;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    margin: 5px;
    color: #0d0d0d;
}

div.item img {
    border-radius: 7px;
}

div.item h2 {
    font-size: 13px;
}

div.item:hover {
    color: #f2efea;
    cursor: pointer;
    box-shadow: 0px 0px 60px 2px rgba(255, 255, 255, 0.057);
    transition: 0.4s;
}

div.item img {
    width: 100%;
}